.Body {
    margin: 0;
    background-color: lightblue;
}

.Wrapper {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.List {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}

.Item {
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-auto-rows: 150px;
    overflow: hidden;
    transition: height .5s ease-out;
}

.Item.collapsed {
    height: 0;
}

.Delete, .Article {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}
.Text {
    width: 100%;
    margin: 0;
    font-weight: bolder;
    text-transform: uppercase;
}

.Delete {
    grid-column: 2 / 3;
    background-color: rgb(255, 81, 81);
}

.Delete .Text {
    text-align: right;
}

.Article {
    grid-column: 1 / 3;
    background-color: white;
    transition: transform 0.15s ease;
}

.Box_red, .Box_blue, .Box_green {
    height: 150px;
}

.Box_red {
    background-color: lightcoral;
}

.Box_blue {
    background-color: plum;
}

.Box_green {
    background-color: lightgreen
}